# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

## Author
Louren√ßo Martins O'Connor Shirley Belo

__Objectives:__
- List of popular languages for data science
- List of most used libraries by data scientist
- Arithmetic expressions
- Minutes to hours convertion

Some of the popular languages that Data Scientists use are:
1. Python
2. R Language
3. SQL

Some of the commonly used libraries used by Data Scientist include:

1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. Tensor Flow

| Data Science Tools |
|--------------------|
|Jupyter Notebook    |
| Visual studio      |
|Anaconda            |

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
#This is a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [12]:
#This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335